<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Outfit Showroom - Listas</title>
    <link rel="stylesheet" href="{% static 'layout/styles/framework.css' %}">
    <link rel="stylesheet" href="{% static 'layout/styles/layout.css' %}">
</head>
<body>
    <header>
        <h1>Outfit Showroom</h1>
        <nav>
            <ul>
                <li class="active"><a href="{% url 'index' %}">{% trans "Inicio" %}</a></li>
                <li><a href="{% url 'lista_outfits' %}">{% trans "Outfits" %}</a></li>
                <li><a href="{% url 'lista_ocasiones' %}">{% trans "Ocasiones" %}</a></li>
                <li><a href="{% url 'lista_estilos' %}">{% trans "Estilos" %}</a></li>
            </ul>
        </nav>
    <!--Formulario de cambio de idioma-->
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <label for="language">{% trans "Seleccione su idioma" %}</label>
        <select id="language" name="language">
            <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        </select>
        <button type="submit">{% trans "Cambiar idioma" %}</button>
      </form>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>{% blocktrans %}© Outfit Showroom 2024. Todos los derechos reservados.{% endblocktrans %}</p>
    </footer>
</body>
</html>