<!DOCTYPE html>
<html lang="es">

<head>
<title>Pagina principal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load i18n %}
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left"> 
      <!-- ################################################################################################ -->
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +34 671108588</li>
        <li><i class="far fa-envelope rgtspace-5"></i> soporte@outfitshowroom.com</li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
    <div class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="nospace">
        <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
        <li id="searchform">
          <div>
            <form action="#" method="post">
              <fieldset>
                <legend>Quick Search:</legend>
                <input type="text" placeholder="Enter search term&hellip;">
                <button type="submit"><i class="fas fa-search"></i></button>
              </fieldset>
            </form>
          </div>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
        <h1><a href="{% url 'index' %}"></a>{% trans "¡Bienvenidx!" %}</h1> 
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="{% url 'index' %}">{% trans "Inicio" %}</a></li>
          <li><a class="drop" href="#">{% trans "Navegar" %}</a>
            <ul>
              <!--ERKU: HAY QUE CAMBIAR EL HREF-->
              <li><a href="{% url 'lista_estilos' %}">{% trans "ESTILOS" %}</a></li>
              <li><a href="{% url 'lista_ocasiones' %}">{% trans "OCASIONES" %}</a></li>
              <li><a href="{% url 'lista_outfits' %}">{% trans "OUTFITS" %}</a></li>  
            </ul>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="overlay">
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <article>
        <h3 class="heading">Outfit Showroom</h3>
        <p> {% trans "¡Inspírate para crear outfits de cualquier estilo e ir siempre acorde con la ocasión!" %}</p>
        <!--ERKU: VER QUÉ HACER CON EL BOTÓN-->
        <footer><a class="btn" href="{% url 'lista_outfits' %}">Empezar</a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure>
            <a><img src="{% static 'layout/images/demo/quienessomos.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">{% trans "¿Quiénes somos?" %}</h6>  
              <div>
                <p>{% trans "Somos un grupo de 3 universitarias apasionadas por la moda." %}</p> 
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure>
            <a><img src="{% static 'layout/images/demo/vestidor.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">{% trans "Nuestro propósito" %}</h6> 
              <div>
                <p>{% trans "Queremos proporcionar inspiración para aquellas personas que quieren disfrutar de la moda y de divertirse con ella." %}</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure>
            <a><img src="{% static 'layout/images/demo/contactanos.png' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">{% trans "¡Colabora con nosotras!" %}</h6> 
              <div>
                <p>{% trans "Buscamos a personas que quieran compartir fotos de sus outfits con nuestra comunidad. Si te gusta la moda, y quieres compartir tu creatividad con el mundo, ¡mándanos fotos de tus outfits al mail!" %}</p>                
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>    
    <!-- ################################################################################################ -->
    <!--<hr class="btmspace-80">-->
    <!-- ################################################################################################ -->
    
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">{% trans "¡Los favoritos de nuestros usuarios!" %}</p> 
      <p class="heading underline font-x2">{% trans "Outfits de la semana" %}</p> 
    </div>
    <ul class="nospace group team">
      {% for outfit in outfits %}
      <li class="one_quarter {% if forloop.first %}first{% endif %}">
        <figure>
          <a class="imgover" href="{% url 'detalle_outfit' outfit.id %}"> 
            {% if outfit.foto %}
              <img src="{{ outfit.foto }}" alt="{{ outfit.nombre }}">
            {% endif %}
          </a>
          <figcaption>
            <strong>{{ outfit.nombre }}</strong>
            <p>{% trans "Ocasiones: " %}
              {% for ocasion in outfit.ocasion.all %}
                {{ ocasion.nombre }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
            <p>{{ outfit.estilo }}</p>
          </figcaption>
        </figure>
      </li>
      {% endfor %}
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Llámanos:</strong> +34 671108588</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Envíanos un mail:</strong> soporte@outfitshowroom.com</span></div>
      </li>
      <!--
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
      </li> -->
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay row4" style="background-image:url('images/demo/backgrounds/01.png');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Pellentesque dictum</h6>
      <ul class="nospace linklist">
        <li><a href="#">Ultricies in molestie sed</a></li>
        <li><a href="#">Consectetuer nam sodales</a></li>
        <li><a href="#">Euismod tellus sed non</a></li>
        <li><a href="#">Est etiam in eros curabitur</a></li>
        <li><a href="#">Viverra dui nec arcu sed</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">{% trans "Mándanos tus dudas" %}</h6>  
      <p class="nospace btmspace-15">Pede ullamcorper facilisis bibendum nulla elit gravida elit vel suscipit urna.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <input class="btmspace-15" type="text" value="" placeholder="Esribe aquí">
          <button type="submit" value="submit">{% trans "Enviar" %}</button>  
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Nisi nunc velit aliquam</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">Sapien sit amet tortor nulla vulputate odio in varius tristique nisi urna.</a></p>
            <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">Consequat erat id rutrum nisi magna vel tellus phasellus malesuada bibendum.</a></p>
            <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Lacinia iaculis nunc</h6>
      <ul class="nospace clear latestimg">
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Ane Altuna, Erkuden Camiruaga y María Vivar</p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>